<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023 개발팀 팀활동비 내역서</title>
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="scripts/main.js"></script>
</head>

<body>
    <header>
        <div class="header">
            <div class="inner">
                <div class="titBox">
                    <h1><b>2월</b> 개발팀 팀활동비 내역</h1>
                    <div class="dateSel">
                        <select name="date" onchange="window.open(value,'_self');">
                            <option value="../index.html">2023-03</option>
                            <option value="views/2023-02.html" selected>2023-02</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="contain" id="containBox">
        <div class="inner">
            데이터 없음
        </div>
    </div>

    <script>
    </script>

</body>
</html>