@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Righteous&display=swap&family=Catamaran:wght@600&display=swap');


/* common */
* { margin:0; padding:0; box-sizing: border-box; }
body { font-family: "Noto Sans KR", sans-serif; color: #333; }
a { color:inherit; text-decoration:none }
ul, ol { list-style: none; }
table { border-collapse:collapse; table-layout:fixed; width:100%; }
.inner { max-width: 800px; margin: 0 auto; }


/* header */
.header {  }
.header .titBox {  }
.header .titBox h1 { font-size: 24px; border-bottom: 1px solid #ccc; font-weight: 500; }
.header .titBox h1 b { background: #f00; padding: 0 8px 0 20px; color: #fff; }
.header .dateSel { display: flex; justify-content: flex-end; margin: 10px 10px 0 0; }
.header .dateSel select { border: 1px solid #ccc; padding: 2px 1px 1px 1px; }

@media screen and (min-width:500px){
    .header .titBox { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc; }
    .header .titBox h1 { border-bottom: none; }
    .header .dateSel { width: 100px; margin: 0 10px 0 0; }
}


/* contain */
.contain { padding: 15px 0; }
.contain .inner { padding: 0 10px; }

.contain .tblWrap { overflow-x: scroll; }
.contain .tblWrap table { min-width: 600px; }

.contain .tblWrap .subTitBox {  }
.contain .tblWrap .subTitBox h2 {  }

.contain table thead {  }
.contain table thead th { border: 1px solid #fff; background: #b1b1b1; color: #fff; }
.contain table tbody {  }
.contain table tbody tr {  }
.contain table tbody tr td { border: 1px solid #ccc; padding: 1px 5px; text-align: center; }
.contain table tbody tr td.date { font-size: 14px; }
.contain table tbody tr td.left { text-align: left; }
.contain table .origin { margin-right: 10px; }

.contain table tfoot { border: 1px solid #ccc; }
.contain table tfoot tr {  }
.contain table tfoot tr td { text-align: right; padding: 1px 10px; background: #fffff4; }

.contain .indiTblBox {  }
.contain .indiTblBox tbody tr.foot {  }
.contain .indiTblBox tbody tr.foot td { text-align: right; background: #fffff4; }
.contain .indiTblBox tbody tr.foot.top td { border-bottom: none; }
.contain .indiTblBox tbody tr.foot.bttm td { border-top: none; }
