@charset "utf-8";

/* common */
* { margin:0; padding:0; box-sizing: border-box; }
body { font-family: "Noto Sans KR", "Malgun Gothic", 돋움; }
a { color:inherit; text-decoration:none }
ul, ol { list-style: none; }
table { border-collapse:collapse; table-layout:fixed; width:100%; }

/* header */
.header {  }
.header .titBox {  }
.header .titBox h1 {  }

/* 공동style */
.inner { max-width: 800px; margin: 0 auto; }
.contain .tblWrap { overflow-x: scroll; }
.contain .tblWrap table { min-width: 600px; }

.contain .tblWrap .subTitBox {  }
.contain .tblWrap .subTitBox h2 {  }

.contain table thead {  }
.contain table thead th { border: 1px solid #666; }
.contain table tbody {  }
.contain table tbody tr {  }
.contain table tbody tr td { border: 1px solid #666; }

.contain table tfoot {  }
.contain table tfoot tr {  }
.contain table tfoot tr th { border: 1px solid #666; }
.contain table tfoot tr td { border: 1px solid #666; }

/* contain */
.contain .titBox {  }
.contain .titBox span {  }
.contain .titBox h1 {  }

.contain {  }